extends layout
block link
    -var wybor='Rezerwacja';
block content
   if danePost==0
    div(class="alert alert-dark" role="alert") Wybierz interesujący Cię przedział czasowy aby sprawdzić dostępność samochodów
    form(method="POST" action="/rezerwacja")
     table
      tr
       td Data początkowa
       td
        input(type="date" name="start" min=dzis required)
      tr
       td Data końcowa
       td
        input(type="date" name="koniec" min=dzis required)
      tr
       td
       td
        input(type="hidden" name="status" value="1")
        input(type="submit" value="Pokaż")

   if danePost==1
         div(class="alert alert-primary" role="alert") Samochody dostępne do wypożyczenia od #{dataStart} do #{dataKoniec} (#{iloscDni} dni)
         table(class='table table-striped table-hover')
             thead(class='thead-dark')
                 tr
                     th(scope='col') Samochód
                     th(scope='col') Opis
                     th(scope='col') Cena (1 dzień)
                     th(scope='col')

             tbody
             each item in pokazdostepne
                 tr
                     th #{item.markaAuto} #{item.modelAuto}
                     th #{item.opisAuto}
                     th #{item.cenaAuto} zł
                     th
                      if autoryzacja == true
                       form(action="rezerwuj-samochod" name='rezerwuj-samochod' id="formularz-"+item.idAuto
                           method="POST")
                        input(type="hidden" name="samochod" value=item.idAuto)
                        input(type="hidden" name="od" value=dataStart)
                        input(type="hidden" name="do" value=dataKoniec)
                        input(type="hidden" name="ile" value=iloscDni)
                        a(class="btn btn-primary" role="button" href="javascript:$('#formularz-"+item.idAuto+"').submit();") Rezerwuj (#{item.calkowityKoszt} zł)
                      else
                       b(class="text-danger") Zaloguj się aby zarezerwować
                      - n++;